USE [master]
GO
/****** Object:  Database [ContactBD]    Script Date: 5/19/2020 2:16:36 PM ******/
CREATE DATABASE [ContactBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ContactBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ContactBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ContactBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ContactBD_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ContactBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ContactBD]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 5/19/2020 2:16:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Mobile] [varchar](50) NULL,
	[Address] [varchar](250) NULL,
 CONSTRAINT [PK_Contacts] PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[ContactCreateOrUpdate]    Script Date: 5/19/2020 2:16:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ContactCreateOrUpdate]
@ContactID int,
@Name varchar(50),
@Mobile varchar(50),
@Address varchar(250)
AS
BEGIN
IF(@ContactID = 0)
	BEGIN
	INSERT INTO Contacts(Name,Mobile,Address)
	VALUES (@Name,@Mobile,@Address)
	END
ELSE
	BEGIN
	UPDATE Contacts
	SET 
		Name = @Name,
		Mobile = @Mobile,
		Address = @Address 
	WHERE ContactID = @ContactID
	END
END
GO
/****** Object:  StoredProcedure [dbo].[ContactDeleteByID]    Script Date: 5/19/2020 2:16:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ContactDeleteByID]
@ContactID int
AS
	BEGIN
	DELETE FROM Contacts
	WHERE ContactID = @ContactID
	END
GO
/****** Object:  StoredProcedure [dbo].[ContactViewAll]    Script Date: 5/19/2020 2:16:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ContactViewAll]
AS
	BEGIN 
	SELECT *
	FROM Contacts
	END
GO
/****** Object:  StoredProcedure [dbo].[ContactViewByID]    Script Date: 5/19/2020 2:16:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ContactViewByID]
@ContactID int
AS
	BEGIN
	SELECT * 
	FROM Contacts
	WHERE ContactID = @ContactID
	END
GO
USE [master]
GO
